{% extends "base.html" %}

{% block title %}{% endblock %} 
{% load crispy_forms_tags %}

{% block content %} 
<style>
    table {
      text-align: left;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 200px;
  
    }
  
    th, td {
      text-align: left;
      border-bottom: 2px dotted #ddd;
      border-spacing: 1px;
      padding-left: 20px;
      padding: 5px;
    }
  
    td:hover {
      color: dodgerblue
    }
  
  </style>

    <h3 style="padding-top: 50px;">Net Worth: {{netWorth}}</h3>
    <div>
        <button type="submit" class="btn btn-success"><a href="{% url 'createAsset' %}">Add New Asset</a></button>
        <button type="submit" class="btn btn-success"><a href="{% url 'createLiability'%}">Add New Liability</a></button>
        <button type="submit" class="btn btn-success"><a href="{% url 'createRecurring' %}">Add New Recurring Item</a></button>
    </div>

    <div class="max-width">
          <!--<h2 class="title">Hey, I'm Sam </h2>-->
          <div>
            <table>
              <tr>
                <th>Assets</th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td></td>
                <td>Cash</td>
                <td>{{profile.cash}}</td>
              </tr>
              {% for asset in assets %}
                <tr>
                    <td><a href="{% url 'editAsset' asset.asset_id %}">E</a>/<a href="{% url 'deleteAsset' asset.asset_id %}">D</a></td>
                    <td>{{asset.name}}</td>
                    <td>{{asset.value}}</td>
                </tr>
              {% endfor %}
              <tr>
                <td>SUM</td>
                <td></td>
                <td>{{assetTotal}}</td>
              </tr>
            </table>
          </div>
          <div>
            <table>
                <tr>
                  <th>Liabilities</th>
                  <th></th>
                  <th></th>
                </tr>
                {% for liability in liabilities %}
                  <tr>
                    <td><a href="{% url 'editLiability' liability.liability_id %}">E</a>/<a href="{% url 'deleteLiability' liability.liability_id %}">D</a></td>
                      <td>{{liability.name}}</td>
                      <td>{{liability.value}}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>TOTAL</td>
                  <td></td>
                  <td>{{liabilitiesTotal}}</td>
                </tr>
              </table>
          </div>
          <div>
            <table>
                <tr>
                  <th>Recurring</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                {% for recurring in posRecurringItems %}
                  <tr>
                    <td><a href="{% url 'editRecurring' recurring.recurring_id %}">E</a>/<a href="{% url 'deleteRecurring' recurring.recurring_id %}">D</a></td>
                      <td>{{recurring.name}}</td>
                      <td>{{recurring.category}}</td>
                      <td>{{recurring.value}}</td>
                  </tr>
                {% endfor %}
                {% for recurring in negRecurringItems %}
                  <tr>
                    <td><a href="{% url 'editRecurring' recurring.recurring_id %}">E</a>/<a href="{% url 'deleteRecurring' recurring.recurring_id %}">D</a></td>
                      <td>{{recurring.name}}</td>
                      <td>{{recurring.category}}</td>
                      <td>{{recurring.value}}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>TOTAL</td>
                  <td></td>
                  <td></td>
                  <td>{{recurringTotal}}</td>
                </tr>
              </table>
          </div>
      </div>


  
{% endblock %}