{% extends "base.html" %}

{% block title %}Calendar{% endblock %} 
{% load crispy_forms_tags %}

{% block content %} 

<style>
    table {
      text-align: left;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 200px;
  
    }
  
    th, td {
      text-align: left;
      border-bottom: 2px dotted #ddd;
      border-spacing: 1px;
      padding-left: 20px;
      padding: 5px;
    }
  
    td:hover {
      color: dodgerblue
    }
    
    .button {
        background-color: dodgerblue;
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 60px;
    }
  </style>

<div>
    <h3>Income/Expense Inputs</h3>
    <table>
        <tr>
          <th><form method="POST" action="{% url 'changeMonth' %}" class="form-group">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.month }} - {{ form.year }} <button type="submit" class="button">Change</button>
            </div>
        </form></th>
          <th>Income</th>
          <th>Expenses</th>
          <th>Sum</th>
        </tr>
        {% for dailyObject in dailyObjects %}
        <tr>
            {% if dailyObject.date %}
                <td><a href="{% url 'dayForm' dailyObject.date %}">{{dailyObject.date|date:'Y-m-d'}}</a></td>
            {% else %} 
                <td><a href="{% url 'dayForm' dailyObject %}">{{dailyObject}}</a></td>
            {% endif %}
            {% if dailyObject.income %}
                <td>${{dailyObject.income}}
                </td>
            {% else %}
                <td>$0</td>
            {% endif %}
            {% if dailyObject.totalExpenses %}
                <td>${{dailyObject.totalExpenses}}</td>
            {% else %}
                <td>$0</td>
            {% endif %}
            {% if dailyObject.getSum %}
                <td>${{dailyObject.getSum}}</td>
            {% else %}
                <td>$0</td>
            {% endif %}
        {% endfor %}
        </tr>
    
        <tr>
          <td><strong>{{templateMonth}} Totals</strong></td>
          <td>${{monthlyIncome}}</td>
          <td>${{monthlyExpense}}</td>
          <td>${{monthlyTotal}}</td>
        </tr>
      </table>
  </div>

{% endblock %}