{% extends "base.html" %}

{% block title %}Calendar{% endblock %} 
{% load crispy_forms_tags %}

{% block content %} 

<style>
    table {
      text-align: left;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 200px;
  
    }
  
    th, td {
      text-align: left;
      border-bottom: 2px dotted #ddd;
      border-spacing: 1px;
      padding-left: 20px;
      padding: 5px;
    }
  
    td:hover {
      color: dodgerblue
    }
  
  </style>

<div>
    <table>
        <tr>
          <th><h3>{{templateMonth}}</h3></th>
          <th>Income</th>
          <th>Expenses</th>
          <th>Sum</th>
        </tr>
        {% for dailyObject in dailyObjects %}
        <tr>
            {% if dailyObject.date %}
                <td><a href="{% url 'dayForm' dailyObject.date %}">{{dailyObject.date|date:'Y-m-d'}}</a></td>
            {% else %} 
                <td><a href="{% url 'dayForm' dailyObject %}">{{dailyObject}}</a></td>
            {% endif %}
            {% if dailyObject.income %}
                <td>${{dailyObject.income}}
                </td>
            {% else %}
                <td>$0</td>
            {% endif %}
            {% if dailyObject.totalExpenses %}
                <td>{{dailyObject.totalExpenses}}</td>
            {% else %}
                <td>0</td>
            {% endif %}
            {% if dailyObject.getSum %}
                <td>{{dailyObject.getSum}}</td>
            {% else %}
                <td>0</td>
            {% endif %}
        {% endfor %}
        </tr>
    
        <tr>
          <td><strong>{{templateMonth}} Totals</strong></td>
          <td>{{monthlyIncome}}</td>
          <td>{{monthlyExpense}}</td>
          <td>{{monthlyTotal}}</td>
        </tr>
      </table>
  </div>


<div style="padding-top: 50px;">
    <p>View a different month:</p>
    <form method="POST" action="{% url 'changeMonth' %}" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}